$primary-bg: #f5f7fa;

html {
  background-color: $primary-bg;
}
.nav--top {
  background-color: #6c6c6c;
  .nav-item {
    color: white;
  }
}
.section {
  background-color: $primary-bg;
}
.login__card .fa.fa-sign-in {
  margin-left: .5em;
}
.menu__panel {
  border: 1px solid #d3d6db;
  border-radius: 5px;
  background-color: white
}