{{outlet}}
<section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter card login__card">
          <header class="card-header">
            <h1 class="card-header-title title is-3">
              Login  <i class="fa fa-sign-in title is-3"></i>
            </h1>
          </header>
          <div class="card-content">
            <div class="content">
              <form>
                <label class="label">E-mail/username:</label>
                <p class="control has-icon">
                  <input class="input is-large" type="email" placeholder="joe@smith.com">
                  <i class="fa fa-user"></i>
                </p>
                <label class="label">Password:</label>
                <p class="control has-icon">
                  <input class="input is-large" type="password" placeholder="●●●●●●">
                  <i class="fa fa-lock"></i>
                </p>
                <p class="control">
                  <button class="button is-success">Login</button>
                  <button class="button is-link">Cancel</button>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>